.card {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  width: 300px;
  height: 550px;
}

img[name="dog_details_img"] {
  margin-right: 15px;
  margin-top: 15px;
  border-radius: 10px;
  max-width: 20%;
  float: left;
}

.container[name="dog_details_text"] {
  margin-top: 20px;
}

.container[name="dog_details_title"] {
  font-size: 40px;
  font-weight: bold;
  margin-top: 15px;
}

img[name="dog_img"] {
  border-radius: 15px;
  width: auto;
  padding: 10px 10px 10px 10px;
}

.body {
  max-width: 1550px;
  margin: 0 auto;
}

.body_background {
  background-color: rgb(239, 214, 191) !important;
}

.dog_content {
  display: flex;
  flex-wrap: wrap;
}

.detail_btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

/* NAVIGAČNÍ BAR*/
.navbar {
  background-color: rgb(83, 164, 147) !important;
  font-size: 20px;
  font-weight: bold;
}

.navbar a {
  color: white;
  margin-left: 15px;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.navbar_background {
  background-color: rgb(83, 164, 147);
}
/* NAVIGAČNÍ BAR*/

.login_form {
  margin-top: 50px;
  margin-left: 30px;
}

.signup_form {
  margin-top: 20px;
  margin-left: 30px;
}

.logout_form {
  margin-top: 20px;
  margin-left: 30px;
}

.errors {
  margin-left: 30px;
}

.panel {
  height: 250px;
  background-color: rgb(239, 214, 191) !important;
}

.panel_layout {
  padding-top: 75px;
  padding-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_field {
  width: 300px; /* Šířka tlačítka */
  height: 100px; /* Výška tlačítka */
  background-color: rgb(83, 164, 147); /* Barva pozadí tlačítka */
  color: white;
  text-align: center;
  line-height: 100px; /* Vertikální zarovnání textu */
  border-radius: 10px; /* Zaoblené rohy */
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.button_field:hover {
  background-color: rgb(249, 113, 117); /* Barva tlačítka při najetí myší */
}

.middle_button_field {
  background-color: rgb(249, 113, 117);
}

.middle_button_field:hover {
  background-color: rgb(83, 164, 147); /* Nová barva tlačítka při najetí myší */
}
